In [30]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import KernelPCA
from sklearn.model_selection import train_test_split

In [31]:
dataframe = pd.read_csv('Car_Prices_Poland_Kaggle.csv')

In [32]:
df = dataframe.loc[:,['Unnamed: 0', 'year', 'mileage', 'vol_engine', 'price']]

In [33]:
df

        Unnamed: 0  year  mileage  vol_engine   price
0                0  2015   139568        1248   35900
1                1  2018    31991        1499   78501
2                2  2015   278437        1598   27000
3                3  2016    47600        1248   30800
4                4  2014   103000        1400   35900
...            ...   ...      ...         ...     ...
117922      117922  2020    40000        1969  222790
117923      117923  2017    51000        1969  229900
117924      117924  2016    83500        1969  135000
117925      117925  2017   174000        1969  154500
117926      117926  2016   189020        1969  130000

[117927 rows x 5 columns]

In [34]:
scaler = StandardScaler()
x = scaler.fit_transform (df.drop('price', axis = 1))
y = df['price'].values

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [46]:
# parametriza o numero de componentes que vc quer extrair dos dados 
# pode parametrizar o tipo de kernel a ser utilizado
kpca = KernelPCA (n_components = 2, kernel = 'rbf')
x_train_kpca = kpca.fit_transform(x_train) # o algoritmo apprende a relacoes dos dados do x train 
x_test_kpca = kpca.transform(x_test) # sem fit so transform pq ele pega a relacao que aprendeu com x_train e aplica sobre os dados de teste

In [47]:
x_train.shape, x_train_kpca.shape

((82548, 4), (82548, 2))

In [ ]:
# treinaria os alogirtmos emcima desses componentes ao inves das 4 features originais